body{
    font-size: 16px;
    color: #454545;
    font-family: 'Livvic', sans-serif;
    vertical-align: baseline;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden;
}

.main{
    margin:0;
    padding:0;
}

div {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    outline: none !important;
}

li{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Livvic', sans-serif;
    color: #101010;}

.container-fluid{
    background: white;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

#contact-box{
    background: linear-gradient(135deg, #2014A6, #7AA7FB);
    width: 350px auto;
    height: 450px auto;
    padding: 15px;
}

.material-icons {
    font-size: 150x; 
    color: darkblue;
}

.info-icon {
    background: white;
    border-radius: 150px;
}

.title, .info-text, a{
    color:white;
}

.contact{
    margin: 15px;
    padding: 0;
}

.contact-form p{
    color:blue;
}

.contact-form h2{
    color:black;
}

#message{
    background-color:#f5f5f5;
    padding: 25px 30px;
    margin: 15px 15px;
}

#phone, #name, #surname, #email, #password{
    background-color:#f5f5f5;
    margin: 10px 15px;
    padding: 10px 15px;
}

.form-check-label{
    color:gray;
}

.btn{
    justify-content: center;
}

.btn-grad {background-image: linear-gradient(to right, #2014A6 0%, #7AA7FB  51%, #2014A6  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   width: 150px;
   height: 50px;;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 
 .row{
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    overflow:hidden;
 }

 .header{
    color: white;
    align-items: center;
    height: 120px;
    position: relative;
    overflow:hidden;
 }

 .header .topbar{
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    vertical-align: middle;
 }

 .header .topbar .logo{
    height: auto;
    float: left;
 }

 .header .topbar .social{
    float: right;
 }

 .header .topbar .social ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 .header .topbar .social ul li{
    display: inline-block;
    border-right: 1px solid #eee;
 }

 .header .topbar .social ul li .socialtitle{
     color:black;
     font-size: 15px;
     align-items: center;
 }

 .header .topbar .social ul li p{
    margin-right: 14px;
    color: darkgray;
    text-align: center;
 }

 .navbar
 {
    height: 65px;
    position: relative;
    background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    overflow:hidden;
 }
 
 .navbar .menu{
    list-style-type: none;
    overflow:hidden;
 }

 .navbar .menu ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
 }


.navbar .menu li a {
    display: block;
    color: white;
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 15px;
    text-decoration: none;
    position: relative;
  }
  
 .navbar .menu li a:hover {
    color: gray;
  }


 .navbar .menu li {
    overflow:hidden;
    float: left;
    margin-left: 15px;
  }

 .navbar .social li{
    overflow:hidden;
    display: inline-block;
    margin-right: 14px;
    padding: 15px;
  }

  .map{
    margin: 0;
    padding: 0;
    position: relative;
    overflow:hidden;
  }

  .footer {
    background-image: url(img/footer-bg.png);
    background-color: #F5F6F9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-logo{
    background-image: url(img/logo-dark.png);
    vertical-align: middle;
}

.footer-logo img {
    height: 40px;
}

.footer .text p{
    color: #454545;
    line-height: 1.8;
}

.footer .social ul li{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color:white;
    text-align: center;
}

.footer h3{
    color: black;
    text-align: center;
}

.footer ul{
    list-style-type: none;
}

.footer ul li a{
    font-size: 16px;
    color: #454545
}
.footer .social ul li a:hover{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:#106eea;
    color:white;
}

.footer ul li a:hover{
    color:#106eea;
}

.footer ul li p{
    font-size: 16px;
    color: #454545
}

.button {
    background-color: #03228f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .blog{
      margin: 70px;
      padding: 70px;
  }

  .blog-item{
    background: #fff;
    box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 70px;
    transition: 0.3s;
  }

  .blog-item .blog-img {
    position: relative;
}
  .blog-item .blog-img a img {
    border-radius: 10px;
  }

  .blog-item .blog-img .post-categories {
    position: absolute;
    z-index: 11;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: transparent ;
}

.blog-item .blog-img .post-categories li a {
    border-radius: 30px;
    color: #ffffff;
    background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
    transition: 0.4s;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 20px;
    display: block;
}

.blog-item .blog-img .post-categories li a:hover {
    border-radius: 30px;
    color: #ffffff;
    background: linear-gradient(90deg, #0e73e4 10%, #03228f 100%);
    transition: 0.4s;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 20px;
    display: block;
}

  .blog-item .blog-content .blog-title a{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #0a0a0a;
  }

  .blog-item .blog-content{
    padding: 25px 15px 25px;
    overflow: hidden;
  }

  .blog-item .blog-content .blog-desc {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #454545;
    margin-bottom: 20px;
}

  .blog-button.inner-blog a {
    text-align: center;
    display: inline-block;
    color: #0b70e1;
    padding-right: 25px;
    position: relative;
    z-index: 1;
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s;
}

.blog-content .blog-meta .btm-cate li .author {
    display: inline-block;
    padding: 0;
    margin-right: 0;
    line-height: normal;
    color: #999;
  }

  .blog-content .blog-meta .btm-cate li .blog-date {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: #999;
}

.widget-area{
    margin-left: 20px;
}

.widget-area .widget-title .title {
    color: #101010;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding-bottom: 12px;
    margin: 0;
}

.widget-area .search-widget {
    background: #fff;
    padding: 40px 30px 40px;
    box-shadow: 0 6px 25px rgb(0 0 0 / 7%);
    border-radius: 10px;
    margin-bottom: 70px;
}

.widget-area .recent-posts {
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 6px 25px rgb(0 0 0 / 7%);
    border-radius: 10px;
    margin-bottom: 70px;
}

.widget-area .recent-posts .recent-post-widget {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.widget-area .recent-posts .recent-post-widget .post-desc {
    display: block;
    font-size: 12px;
    color: #888;
    overflow: hidden;
}

.widget-area .recent-posts .recent-post-widget .post-desc a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #0a0a0a;
    display: block;
}

.widget-area .recent-posts .recent-post-widget .post-img {
    width: 100px;
    float: left;
    padding-right: 15px;
}


.widget-area .categories {
    background: #fff;
    padding: 40px 30px 40px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 8%);
    border-radius: 10px;
    margin-bottom: 70px;
}

.widget-area .categories li {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.widget-area .categories li a {
    font-size: 15px;
    font-weight: 500;
    color: #101010;
}

.widget-area .categories li a:hover {
    color:#106eea;
}